   <!DOCTYPE html>
   <%- include('./parts/head'); -%>
   <body>
     <main>
    <div class="askBox">
      <h1>My sweet question is</h1>
       <form method="POST" action="/saveQuestion">
          <input name="title" type="text" placeholder="Question Title"/>
          <textarea name="description" rows="5" placeholder="Describe your question..."></textarea>
          <div class="actionButtons">
            <button type="submit" class="button" id="yellowButton">Send</button>
            <a href="/" class="button" id="greyButton">Cancel</a>
        </div>
      </form>
    </div>
  </main>
   </body>
   </html>
   
   
   
   
