<!DOCTYPE html>
<%- include('./parts/head'); -%>
<body>
  <main>
    <div class="topic">
      <div class="topicContent">
        <h1>Baking Q&A</h1>
        <div class="topicNumbers">
          <div id="numQuestions"><p>1200</p><p>Questions</p></div>
          <div id="numAnswers"><p>867</p><p>Answers</p></div>
          </div>
         <a href="/ask" class="button" id="yellowButton">Ask a question</a>
      </div>
      <img src="/assets/cake.svg" alt="Cake Illustration">
    </div>
    
    
    <div class="questions">
      <% questions.forEach(question => {%>
      <div class=boxQuestion>
        <p id="answersCount">6 answers</p>
        <div class="contentQuestion">
          <p id="titleAsk"><%= question.title %></p>
        <p id="descriptionAsk"><%= question.description %></p>
        </div>
        <div class="actionButtons">
          <a href="/question/<%=question.id%>" class="button" id="yellowButton">Answer</a>
        </div>
      </div>
    <%})%>
  </div>  
  </main>
  
  <script src="js/scripts.js"></script>
</body>
</html>