*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  --yellow: #EFAF00;
  --red: #EA631F;
  --lightRed: #EA631F0F;
  --black: #191919;
  --white: #ffffff;
  --grey: #C0C0C0;
  --lightGrey: #878787B8;


/* 1rem = 16px (User Agent) = 100% (User Agent) */
  font-size: 62.5% /* 10px */;
  font-family: sans-serif;
  color: var(--brown);
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--lightRed);
  color: var(--black);
  font-family: 'Poppins', sans-serif;
}

main{
  margin: 2.4rem 0rem;
}

.topic{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  width: 70rem;
  height: 32rem;
  padding-left: 5.6rem;
  box-shadow: 4px 0px 19px 0px #00000014;
  margin-bottom: 2.4rem;
}

.topic img{
  position: relative;
  left: 3rem;
}

.topic .button{
  width: 18rem;
  background-color: var(--yellow);
}

.topicContent{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 18.5rem;
}

.topicContent h1{
  width: 17rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 5.4rem;
  margin-bottom: 2.4rem;
}

.topicContent .topicNumbers{
  display: flex;
  flex-direction: row;
  margin-bottom: 2.4rem;
}

.topicNumbers{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

a:visited{
  color: var(--black);
}

#numQuestions{
  text-align: center;
  margin-right: 3.0rem;
}

#numAnswers{
  text-align: center;
}

#numQuestions p:first-child, 
#numAnswers p:first-child{
  font-size: 2.4rem;  
  line-height: 1.3rem;
}

.button{
  font-family: 'Poppins', sans-serif;
  border-radius: 1.0rem;
  color: var(--black);
  border: 0.2rem solid #191919;
  padding: .8rem 2.4rem;
  width: 12rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.button:hover{
  opacity: 60%;
}

.askBox{
  background-color: var(--white);
  box-shadow: 4px 0px 19px 0px #00000014;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  width: 70rem;
  height: max-content;
  padding: 2.4rem 5.6rem;
}

.askBox form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

input{
  border: .2rem solid var(--black);
  border-radius: .5rem;
  padding-left: 1.2rem;
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

input[type=text]{
  height: 4.2rem;
  margin-bottom: 1.6rem;
}

textarea{
  height: 12rem;
  margin-bottom: 1.6rem;
  resize: none;
  border: .2rem solid var(--black);
  border-radius: .5rem;
  padding-left: 1.2rem;
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

textarea::placeholder{
  padding-top: 0.4rem;
  color: var(--grey);
  font-size: 1.8rem;
  font-weight: 500;
}

input::placeholder{
  color: var(--grey);
  font-size: 1.8rem;
  font-weight: 500;
}

.boxQuestion{
  display: flex;
  flex-direction: column;
  width: 70rem;
  border-radius: .5rem;
  height: max-content;
  padding: 2.4rem 5.6rem;
  margin-top: 2.4rem;
  background-color: var(--white);
  box-shadow: 4px 0px 19px 0px #00000014;
}

#yellowButton{
  background-color: var(--yellow);
}

#greyButton{
  background-color: var(--grey);
  margin-left: 1.6rem;
}


.boxQuestion .contentQuestion{
  width: 60%;
  font-weight: 500;
  margin-bottom: 3.6rem;
}

#titleAsk {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

#descriptionAsk{
  font-size: 1.4rem;
  height: max-content;
}

#answersCount{
  text-align: right;
  font-size: 1.2rem;
}

.askButtons, .questionButtons{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: right;
}

.boxAnswer{
  display: flex;
  flex-direction: column;
  width: 70rem;
  border-radius: .5rem;
  height: max-content;
  padding: 2.4rem 5.5rem;
  margin-top: 2.4rem;
  background-color: var(--white);
  box-shadow: 4px 0px 19px 0px #00000014;
  padding: 2.4rem;
}

.boxAnswer form{
  display: flex;
  flex-direction: column;

}

.view{
  display: none;
}
