    <div class="askBox">
      <h1>My sweet question is</h1>
       <form method="POST" action="/saveQuestion">
          <input type="text" placeholder="Question Title"/>
          <textarea rows="5" placeholder="Describe your question..."></textarea>
          <div class="askButtons">
            <button type="submit">Send</button>
            <button type="reset" id="grey">Cancel</button>
        </div>
      </form>
    </div>
